body {
    background-color: rgb(236, 236, 56);
    text-align: center;
  }
  ol {
    position: relative;
    left: 680px;
  }
  span {
    font-size: xx-large;
  }
  .box1 {
    background-color: rgb(134, 206, 27);
    height: 100px;
    width: 100px;
    transition-property: width;
    transition-duration: 2s;
  }
  .box1:hover {
    width: 300px;
  }
  .box2 {
    background-color: rgb(134, 206, 27);
    height: 100px;
    width: 100px;
    transition-property: width height;
    transition-duration: 2s;
  }
  .box2:hover {
    width: 300px;
    height: 300px;
  }
  .box3 {
    background-color: rgb(134, 206, 27);
    height: 100px;
    width: 100px;
    transition: width 2s;
    transition-timing-function: linear;
  }
  .box3:hover {
    width: 300px;
  }
  .box4 {
    background-color: rgb(134, 206, 27);
    height: 100px;
    width: 100px;
    transition: width 2s;
    transition-timing-function: ease;
  }
  .box4:hover {
    width: 300px;
  }
  
  .box5 {
    background-color: rgb(134, 206, 27);
    height: 100px;
    width: 100px;
    transition: width 2s;
    transition-timing-function: ease-in;
  }
  .box5:hover {
    width: 300px;
  }
  
  .box6 {
    background-color: rgb(134, 206, 27);
    height: 100px;
    width: 100px;
    transition: width 2s;
    transition-timing-function: ease-out;
  }
  .box6:hover {
    width: 300px;
  }
  .box7 {
    background-color: rgb(134, 206, 27);
    height: 100px;
    width: 100px;
    transition: width 2s;
    transition-timing-function: ease-in-out;
  }
  .box7:hover {
    width: 300px;
  }